/* style.css */

body,
table,
tbody,
tr,
td {
  margin: 0;
  padding: 0;
}

.board {
  height: 100vh;
  vertical-align: middle;
}

.table-board {
  width: 400px;
  height: 400px;
  margin: calc((100vh - 400px)/2) auto;
}

.card {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  border: solid #000 1px;
  transform-style: preserve-3d;
  transform: rotatey(0deg) translatex(0px) translatey(0px);
	transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  cursor: pointer;
}

.flipped {
  transform: rotatey(-180deg) translatex(0px) translatey(0px);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #444;
  transform: rotateY( 0deg ) translateZ( 2px );
}

.card-back {
  top: 0;
  left: 0;
  position: absolute;
  transform: rotateY( 180deg ) translateZ( 0px );
  background-color: #b88;
  align-items: center;
}

.icon {
  height: 100%;
  font-size: 70px;
  display: block;
  margin: 0 auto;
  pointer-events: none;
}
