/* style.css */

body,
table,
tbody,
tr,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 450px;
  margin: 0 auto;
  background-color: #EAF2EF;
  font-family: 'Contrail One', sans-serif;
  color: #292F36;
}

header {
  width: 100%;
  vertical-align: middle;
}

#title {
  text-align: center;
}

.stats {
  display: flex;
  flex-wrap: wrap;
}

.stats-moves-box,
.stats-timer-box,
.stats-reset-box {
  width: calc(100% / 3);
}

.stats-stars {
  display: inline-block;
  margin-bottom: 5px;
}

.moves-count {
  display: inline;
  margin-left: 5px;
}

.stats-moves {
  display: inline;
}

.stats-timer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.btn-reset {
  font-size: 20px;
  outline: none;
  border: none;
  background: none;
  float: right;
}

.reset-click {
  animation: shrink-with-Zrotate 0.4s linear 0s 1 normal;
}

main {
  height: 100vh;
  vertical-align: middle;
}

.start-screen, .end-screen {
  width: 450px;
  height: 550px;
  border: solid 1px #444;
  border-radius: 5px;
  position: absolute;
  background-color: #F7FFF7;
  display: flex;
  flex-wrap: wrap;
  transition: all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.start-screen {
  z-index: 2;
  transform: translatey(0px);
}

.end-screen {
  z-index: 3;
  transform: translatey(-580px);
}

.start-screen-hide {
  transform: translateY(-580px);
}

.end-screen-show {
  transform: translatey(0px);
}

.btn-start {
  margin: auto;
}

.board {
  width: 450px;
  height: 450px;
  border: solid 1px #444;
  background-color: #F7FFF7;
  border-radius: 5px;
}

.table-board {
  width: 400px;
  height: 400px;
  margin: 25px;
}

.card-container {
  width: 100px;
  height: 100px;
}

.card {
  width: 90px;
  height: 90px;
  margin: auto;
  display: flex;
  border-radius: 5px;
  border: solid #000 0;
  transform-style: preserve-3d;
  transform: rotatey(0deg) translatex(0px) translatey(0px);
  transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  cursor: pointer;
}

.flipped {
  transform: rotatey(-180deg) translatex(0px) translatey(0px);
}

.success {
  transform: rotatey(-180deg) translatex(0px) translatey(0px);
  animation: shrink-with-Yrotate 0.5s ease-in-out 0s 1 normal;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  border: solid #000 0.2px;
  transition: 0.5s ease-in;
}

.card-front {
  background-color: #FF6B6B;
  transform: rotateY( 0deg ) translateZ( 2px );
}

.card-back {
  top: 0;
  left: 0;
  position: absolute;
  transform: rotateY( 180deg );
  background-color: #FFE66D;
  align-items: center;
}

.back-success {
  background-color: #88E172;
}

.icon {
  height: 100%;
  font-size: 70px;
  display: block;
  margin: 0 auto;
  pointer-events: none;
  transition: none !important;
  color: #292F36;
}

.wrong {    
  animation: shake 0.5s linear 0s 1 normal;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px) rotatey(-180deg);
  }

  20%, 80% {
    transform: translateX(2px) rotatey(-180deg);
  }

  30%, 50%, 70% {
    transform: translateX(-4px) rotatey(-180deg);
  }

  40%, 60% {
    transform: translateX(4px) rotatey(-180deg);
  }
}

@keyframes shrink-with-Yrotate {
  50% {
    transform: scale(1.2) rotatey(-180deg);
  }
}

@keyframes shrink-with-Zrotate {
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  
  50% {
    transform: scale(1.5) rotateZ(180deg);
  }

  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

.event-catcher {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: 151px 151px;
  stroke: #88E172;
}

#successAnimationCheck {
  stroke-dasharray: 36px 36px;
  stroke: #88E172;
}

#successAnimationResult {
  fill: #88E172;
  opacity: 0;  
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation; 
}

#successAnimationCircle {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
             0.3s linear 0.9s 1 both fadeOut;
}

#successAnimationCheck {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
             0.3s linear 0.9s 1 both fadeOut;
}

#successAnimationResult {
  animation: 0.3s linear 0.9s both fadeIn;
}